**Question 1:** What are data structures, and why are they important?

**Answer 1:**
Data structures are organized ways to store, manage, and retrieve data efficiently in a computer. They are important because they help in writing optimized code, handling large datasets, improving performance, and simplifying data operations like searching, sorting, insertion, and deletion.

---

**Question 2:** Explain the difference between mutable and immutable data types with examples.

**Answer 2:**

* **Mutable data types** can be changed after creation. Example: Lists – `my_list = [1, 2]; my_list.append(3)`
* **Immutable data types** cannot be changed after creation. Example: Strings – `s = "hello"`; modifying it creates a new string.

---

**Question 3:** What are the main differences between lists and tuples in Python?

**Answer 3:**

* Lists are mutable, tuples are immutable.
* Lists use square brackets `[]`, while tuples use parentheses `()`.
* Tuples are generally faster and more memory efficient than lists.

---

**Question 4:** Describe how dictionaries store data.

**Answer 4:**
Dictionaries store data in key-value pairs using a hash table internally. Keys are unique and are hashed to index the values for fast access.

---

**Question 5:** Why might you use a set instead of a list in Python?

**Answer 5:**
A set ensures all elements are unique and provides faster membership checking than a list. It is used when duplicate values are not allowed.

---

**Question 6:** What is a string in Python, and how is it different from a list?

**Answer 6:**
A string is a sequence of characters and is immutable, meaning it cannot be changed after creation. A list is a mutable sequence that can contain items of different data types.

---

**Question 7:** How do tuples ensure data integrity in Python?

**Answer 7:**
Tuples are immutable, so once created, their contents cannot be changed. This makes them ideal for storing constant data and maintaining data integrity.

---

**Question 8:** What is a hash table, and how does it relate to dictionaries in Python?

**Answer 8:**
A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented using hash tables, allowing for fast key-based access.

---

**Question 9:** Can lists contain different data types in Python?

**Answer 9:**
Yes, lists in Python can contain elements of different data types, including integers, strings, floats, and even other lists.

---

**Question 10:** Explain why strings are immutable in Python.

**Answer 10:**
Strings are immutable to improve performance, ensure thread safety, and allow memory optimization through string interning. Modifying a string results in a new object.

---

**Question 11:** What advantages do dictionaries offer over lists for certain tasks?

**Answer 11:**
Dictionaries allow fast retrieval of data using keys instead of relying on index positions. They are more suitable for representing structured data like records.

---

**Question 12:** Describe a scenario where using a tuple would be preferable over a list.

**Answer 12:**
A tuple is preferable when storing fixed collections of items that should not change, such as geographical coordinates or dates.

---

**Question 13:** How do sets handle duplicate values in Python?

**Answer 13:**
Sets automatically remove duplicate values. Adding a duplicate to a set has no effect because sets only store unique elements.

---

**Question 14:** How does the “in” keyword work differently for lists and dictionaries?

**Answer 14:**

* In lists, `in` checks whether an item exists in the list.
* In dictionaries, `in` checks whether a key exists, not the value.

---

**Question 15:** Can you modify the elements of a tuple? Explain why or why not.

**Answer 15:**
No, tuples are immutable, meaning their elements cannot be changed once the tuple is created.

---

**Question 16:** What is a nested dictionary, and give an example of its use case.

**Answer 16:**
A nested dictionary is a dictionary inside another dictionary.
Example:

```python
student = {'name': 'Alice', 'marks': {'math': 90, 'science': 85}}
```

---

**Question 17:** Describe the time complexity of accessing elements in a dictionary.

**Answer 17:**
Accessing an element in a dictionary using its key is O(1) on average, due to the hash table implementation.

---

**Question 18:** In what situations are lists preferred over dictionaries?

**Answer 18:**
Lists are preferred when order matters, when elements don’t need unique identifiers, or when you’re working with a sequence of values rather than key-value pairs.

---

**Question 19:** Why are dictionaries considered unordered, and how does that affect data retrieval?

**Answer 19:**
Dictionaries are considered unordered because they do not store items in a sequential order. This means you cannot access elements by position, only by key.

---

**Question 20:** Explain the difference between a list and a dictionary in terms of data retrieval.

**Answer 20:**

* Lists use indexes to retrieve data by position.
* Dictionaries use keys to retrieve data directly. This makes dictionary lookups faster when dealing with labeled data.

In [1]:
#Question 1: Write a code to create a string with your name and print it.

name = "Hemant Pandey"
print(name)

Hemant Pandey

In [3]:
#Question 2: Write a code to find the length of the string "Hello World".

x = "Hello World"
print(len(x))

11

In [4]:
#Question 3: Write a code to slice the first 3 characters from the string "Python Programming".
x = "Python Programming"
print(x[:3])

Pyt

In [5]:
#Question 4: Write a code to convert the string "hello" to uppercase.

s = "hello"
print(s.upper())

HELLO

In [6]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple".

s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [9]:
#Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [11]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [12]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [13]:
#Write a code to reverse the list [10, 20, 30, 40, 50].

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [14]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [15]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [17]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup = (10, 20, 5, 15)
print(min(tup))

5

In [16]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [ ]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
print("kiwi" in fruits)

In [ ]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

In [ ]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

In [ ]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

In [ ]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

In [ ]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

In [ ]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "John", "age": 25, "city": "New York"}
print(person)

In [ ]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

In [ ]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
print(person['name'])

In [ ]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

In [ ]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

In [ ]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.

lst = [1, 2, 3]
tup = (4, 5, 6)
dic = {'a': 1, 'b': 2}
print(lst, tup, dic)

In [ ]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

In [ ]:
#Write a code to create a list with strings and print the element at the third index.

words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

In [ ]:
#Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

In [7]:
#Write a code to convert a list of strings into a set.

str_list = ['a', 'b', 'c', 'a']
str_set = set(str_list)
print(str_set)

{'a', 'c', 'b'}